-if repo["description"] != "" or repo["html_url"][0..22] == "https://scraperwiki.com"
  %article
    %header
      %h3
        %a{:href => repo["html_url"]}
          =repo["name"]
    -unless repo["homepage"] == ""
      %p{:class => "app_link"}
        %a{:href => repo["homepage"], :class => "app_link"}= repo["homepage"]
    -unless repo["description"] == ""
      %p= repo["description"]
    
    -if repo["language"]
      %p{:class=>"language"}= "Written in: #{repo["language"]}"