-if @repo["description"] != "" or @repo["html_url"][0..22] == "https://scraperwiki.com"
  %article
    %header
      %h3
        %a{:href => @repo["html_url"]}
          =@repo["name"]
      -unless @repo["homepage"] == ""
        %a{:href => @repo["homepage"], :class => "app_link"} view app
    -unless @repo["description"] == ""
      %p= @repo["description"]
    
    -if @repo["language"]
      %p{:class=>"language"}= @repo["language"]